{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}

{% block header %}
    <!-- Next tag loads Charts.js https://www.chartjs.org/docs/latest/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"
            integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

    <!--
    Examples of what to show in Dashboard:

    - Ranking of visited documents (from results page)
    - Visitor's preferred browsers
    - Visitor's city (from IP)
    - preferred queries ranking
    - preferred terms
    - etc.

    -->

    <script>
        var dynamicColors = function() {
          var r = Math.floor(Math.random() * 255);
          var g = Math.floor(Math.random() * 255);
          var b = Math.floor(Math.random() * 255);
          return "rgb(" + r + "," + g + "," + b + ")";
        };
        // 'visited_docs' is the data coming from Python code.
        // load the python list in the JS variable 'visits_list':
        const visits_list = {{ visited_docs | tojson | safe }};
    
    </script>

    <div class="dashboard">
      <div id="plot1" class="plot">
        <h5>Ranking of Visited Documents</h5>
        <canvas id="dailyVisits" width="400" height="400"></canvas>
  
        <script>
            // use JS map function top get just the tweet ids as labels
            const visitsLabels = visits_list.map(a => "id: " + a.doc_id);
            const visitsData = visits_list.map(a => a.counter);
            const chartData1 = {
                labels: visitsLabels,
                datasets: [{
                    label: 'Visits count',
                    data: visitsData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }],
                hoverOffset: 4
            };
  
            const ctx = document.getElementById('dailyVisits').getContext('2d');
  
            // This will render the chart
            const myChart = new Chart(ctx, {
                type: 'line',
                data: chartData1,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        xAxes: {
                          ticks: {
                            autoSkip: false,
                            maxRotation: 90,
                            minRotation: 90
                          }
                        }
                    }
                }
            });
        </script>
        <hr>
        <h5>Documents by visits</h5>
        {% for doc in visited_docs[:5] %}
            <div class="pb-3">
                <div class="result">
                  <div class="username">
                    <div class="user">
                        id: <i class="fa fa-user"></i> {{ doc.doc_id }}
                    </div>
                  </div>
                    <span class="text-dark"> ({{ doc.counter }} visits) </span>
                    — {{ doc.description }}
                </div>
            </div>
            <hr>
        {% endfor %}
      </div>
      
      <div id="plot2" class="plot">
        <h5>Visitors origins</h5>
        <canvas id="dailyVisits2" width="400" height="400"></canvas>
        <script>
          
          const counts = {{countries | tojson | safe}}
          const read = JSON.parse(counts)
          
          const countryLabels = Object.entries(read).map(([k, v]) => k);
          const countryCount = Object.entries(read).map(([k, v]) => v);
          const colors = Object.entries(read).map(([k, v]) => dynamicColors());

          const chartData2 = {
                labels: countryLabels,
                datasets: [{
                    label: 'Visits count',
                    data: countryCount,
                    fill: true,
                    backgroundColor: colors,
                    tension: 0.1
                }]
            };
            
            const ctx2 = document.getElementById('dailyVisits2').getContext('2d');
            const myChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: chartData2,
            });
        </script>
        
      </div>
    </div>
    <div>
      <canvas id="queriesPlot" width="400" height="400"></canvas>
      <script>
          
        const countsQ = {{queries | tojson | safe}}
        const readQ = JSON.parse(countsQ)

        const queryLabels = Object.entries(readQ).map(([k, v]) => k);
        const queryCount = Object.entries(readQ).map(([k, v]) => v);
        const colorsQ = Object.entries(readQ).map(([k, v]) => dynamicColors());



        const chartData3 = {
              labels: queryLabels,
              datasets: [{
                  label: 'Visits count',
                  data: queryCount,
                  fill: true,
                  backgroundColor: colorsQ,
                  tension: 0.1
              }]
          };
          
          const ctx3 = document.getElementById('queriesPlot').getContext('2d');
          const myChart3 = new Chart(ctx3, {
              type: 'polarArea',
              data: chartData3,
          });
      </script>
    </div>
    <div>
      <canvas id="queriesPlot2" width="400" height="400"></canvas>
      <script>
        const ctx4 = document.getElementById('queriesPlot2').getContext('2d');
          const myChart4 = new Chart(ctx4, {
              type: 'doughnut',
              data: chartData3,
          });
      </script>
      
    </div>
    
    
{% endblock %}


