{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    {{ doc }}
    <div id="doc-details">
        <div id="doc-author">
            {{ doc.author}}
        </div>
        <div id="doc-id">
            {{ doc.id }}
        </div>
        <div id="doc-text">
            {{ doc.text }}
        </div>
        <div id="doc-retweets">
            {{ doc.retweets }}
        </div>
        <div id="doc-likes">
            {{ doc.likes }}
        </div>
    </div>
{% endblock %}