{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <p id="doc-id">Tweet id: {{ doc.id }}</p>
    <div id="doc-main">
        <div class="user">
            <img src="https://pbs.twimg.com/profile_images/1519336729802588160/cuawoLoL_400x400.jpg" alt="Girl in a jacket" width="50" height="50">
            Author: <i class="fa fa-user"></i> {{ doc.author }}
        </div>
        <div class="date">
            <i class="fa fa-calendar" aria-hidden="true"></i> {{ doc.doc_date }}
        </div>
    </div>
    <div id="doc-text">
        {{ doc.description }}
    </div>
    <div id="doc-info">
        <div class="doc-box">
           <p>Likes :</p>
           <p><i class="fa fa-thumbs-up"></i> {{ doc.likes }}</p> 
        </div>
        <div class="doc-box">
            <p>Retweets :</p>
            <p><i class="fa fa-retweet"></i> {{ doc.retweets }}</p> 
        </div>
        <div class="doc-box">
            <p>Hashtags <i class="fa fa-hashtag"></i> :</p>
            <p>    
                {% for hashtag in doc.hashtags %}
                #{{ hashtag }} <br>
                {% endfor %}
            </p>
        </div>
    </div>
    <div id="context">
        <a href="https://twitter.com/{{ doc.author }}/status/{{ doc.id }}">See the tweet within its context</a>
    </div>
{% endblock %}