{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <p id="doc-id">Tweet id: {{ doc.id }}</p>
    <div id="doc-main">
        <div class="user-2" style="background-image: url({{ doc.background_image }})"";>
            <img class="profile" src="{{ doc.image }}" alt="Profile image" width="100" height="100">
            {{ doc.author }}
        </div>
        <div class="date">
            <p id="doc-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ doc.doc_date }}</p>
        </div>
    </div>
    <div id="doc-text">
        {{ doc.description }}
    </div>
    <div id="doc-info">
        <div class="doc-box">
           <p>Likes :</p>
           <p><i class="fa fa-thumbs-up"></i> {{ doc.likes }}</p> 
        </div>
        <div class="doc-box">
            <p>Retweets :</p>
            <p><i class="fa fa-retweet"></i> {{ doc.retweets }}</p> 
        </div>
        <div class="doc-box">
            <p>Hashtags <i class="fa fa-hashtag"></i> :</p>
            <p>    
                {% for hashtag in doc.hashtags %}
                #{{ hashtag }} <br>
                {% endfor %}
            </p>
        </div>
    </div>
    <div id="context">
        <a href="https://twitter.com/{{ doc.author }}/status/{{ doc.id }}">See the tweet within its context</a>
    </div>
{% endblock %}