
.profile {
    border-radius: 50%;
    border: 2px solid #c8102e;
  }

#doc-main, #doc-text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 20px;
}

#doc-date {
    border-bottom: 2px solid black;
    padding: 5px;
    border-radius: 5%;
    background-color: rgb(245, 245, 245);
}

#doc-id {
    font-size: 10px;
    color: rgb(164, 164, 164);
    margin-bottom: 0;
}

#doc-text {
    padding: 20px 30px;
    border-bottom: 1px solid black;
}

#doc-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.user-2 {
    font-size: 50px;
    padding: 15px;
    border: 2px solid black;
}

.doc-box {
    flex: 1;
    margin: 0;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.doc-box:hover {
    background-color: rgb(242, 242, 242)
}